@define-color background transparent;
@define-color foreground #C6D0E9;
@define-color color #6F83BF;
@define-color color rgba(32, 32, 42, 0.6);
@define-color workspaces-active rgba(32, 32, 42, 1);

* {
  font-family: 'Inconsolata Nerd Font', monospace;
  font-size: 16px;
  border-radius: 10px;
  min-height: 0;
  padding: 0;
  margin: 0;
}


window#waybar {
  padding: 0px;
  margin: 0px;
}

.background {
  background-color: @transparent;
}

.module {
  margin: 5px 10px 5px 10px;
  padding: 0px 15px 0px 20px;
  background-color: @color;
  color: @foreground;
}

#workspaces {
  padding: 0;
  background-color: @background;
}


#workspaces button {
  background-color: @color;
  color: @foreground;
  padding: 6px 16px 6px 10px;
  margin: 0px 5px 0px 5px;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
  background-color: @workspaces-active;
}

#workspaces .active {
  background-color: @workspaces-active;
}

#workspaces .focused {
  background-color: @workspaces-active;
}

#window {
  background-color: @background;
  color: #fff;
}

#memory {
  border-radius: 0px;
  padding: 8px;
}

#cpu {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0px;
  padding-left: 20px;
}

#temperature {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0px;
  padding-right: 20px;
}

#cpu,
#memory,
#temperature {
  margin: 5px 0px 5px 0px;
}
