configuration {
	modes: "window,drun,run,ssh";
	font: "AurulentSansM Nerd Font 12";
	fixed-num-lines: true;
	show-icons: true;
	terminal: "Alacritty";
	auto-select: false;
	combi-modes: "window,run";
	window-thumbnail: true;
	fake-transprency: true;
	modi: "drun,window,run";
	sidebar-mode: true;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@import "botheme.rasi"
@theme "botheme.rasi"
